.section {
  width: 100%;
}

.pageContainer {
  margin: 0 auto;
  max-width: 1230px;
  padding: 24px;
}

.heading {
  text-align: center;
  margin: 0 0 24px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.formAdd {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: 1px solid rgb(66, 64, 64);
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  background-color: rgb(134, 123, 123);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 24px;
}
